.about-content .news-list{
    margin: 40px 25px 30px 20px;
    float: right;
    width: 925px;
}

.news-list li{
    margin-bottom: 30px;
    overflow: hidden;
    cursor: pointer;
}

.news-list li:hover .news-item-date{
    background: url(../home/images/newsdate_03.jpg);
}

.news-list .special-li .news-item-date{
    background: url(../home/images/newsdate_03.jpg);
}

.news-list .special-li .news-item-content h2{
    color: #01a1ff;
}

.news-list li:hover .news-item-content h2{
    color: #01a1ff;
}
.news-item-date{
    float: left;
    width: 108px;
    height: 100px;
    background: url(../home/images/newsdate_06.jpg);
    color: white;
    position: relative;
}

.news-list .news-item-date .date{
    width: 66px;
    display: block;
    font-size: 43px;
    position: absolute;
    top: 24px;
    left: 25px;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.news-list .news-item-date .year-month{
    position: absolute;
    bottom: 10px;
    left: 28px;
    font-size: 13px;
}
.news-item-content{
    float: right;
    width: 800px;
}

.news-item-content h2{
    font-weight: bold;
    color: #333333;
    font-size: 20px;
    margin: 8px 0 20px 0;
}

.news-list .news-item-content p{
    font-size: 16px;
    color: #666666;
    line-height: 24px;
    text-indent: 1em;
}
