/* welcome */
.welcome{
    width: 1200px;
    margin: 55px auto 120px;
  }

.welcome>p{
    width: 1100px;
    font-size: 18px;
    padding: 0 80px;
    line-height: 24px;
}
  .welcome .classic{
    width: 1200px;
    display: flex;
    margin-top: 105px;
    padding: 0 15px;
    justify-content: space-around;
}
  .welcome .classic li{
    flex: 0 0 227px;
    text-align: center;
}
  .welcome h3{
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
    margin-top: 44px;
    font-weight: 900;
}
  .welcome h4{
    font-size: 14px;
    color: #666;
    margin-bottom: 29px;
    font-weight: 800;
}
  .welcome .classic p{
    font-size: 12px;
    color: #999;
    line-height: 24px;
}

/* production center */
.index-p{
    width: 1200px;
    font: 14px 宋体;
    text-align: center;
    margin: 55px auto 50px;
}

.pro-center{
    margin-bottom: 120px;
    position: relative;
}
.pro-list{
    width: 100%;
    margin-top: 50px;
    overflow: hidden;
}
.pro-list li{
    float: left;
    width: 16.666%;
    border: 1px solid transparent;
    box-sizing: border-box;
}


.pro-list .pro-title:hover{
    background-color: #01a1ff;
    color: white;
}

.pro-list li img{
    width: 100%;
}
.pro-center .pro-title{
    width: 100%;
    height: 50px;
    display: block;
    background-color:#e5e5e5;
    line-height: 50px;
    color: #333;
    font-size: 14px;
    position: relative;
    margin-top: -10px;
}

.pro-center .pro-title span:first-child{
    padding-left: 20px;
}
.pro-center .pro-title .add{
    display: block;
    right: 16px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    position: absolute;
    border-radius: 50%;
    background-color: #999;
    top: 16px;
    text-align: center;
    color: white;
}

/* news center */
.news-center{
    width: 1200px;
    margin: 0 auto 120px;
    overflow: hidden;
    position: relative;  
}

.news-left{
    float: left;
}

.news-left p{
    position: absolute;
    font-size: 18px;
    text-transform: uppercase;
    width: 543px;
    height: 37px;
    color: white;
    background-color: #01a1ff;
    bottom: 13px;
    line-height: 37px;
    padding-left: 10px;
}

.news-left li{
    width: 111px;
    height: 5px;
    float: left;
    background-color: #fff;
    margin-top: -3px;
}

.news-left li:hover{
    background-color: #01a1ff;
}

.news-right{
    width: 607px;
    float: right;
}

.news-date{
    float: left;
    margin-right: 10px;
}
.news-date span:first-child{
    display: block;
    width: 70px;
    height: 57px;
    text-align: center;
    line-height: 57px;
    border: 1px solid #01a1ff;
    color: #01a1ff;
    font:40px Tahoma;
}

.news-date span:last-child{
    display: block;
    width: 70px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border: 1px solid #01a1ff;
    color: #fff;
    background-color: #01a1ff;
    font:14px Tahoma;
}

.news-content{
    float: left;
    width: 525px;
}

.news-content h2{
    font-size:  20px;
    color: #01a1ff;
    margin-bottom: 15px;
}

.news-content p{
    margin-bottom: 20px;
}
.clear{
    clear: both;
}
.news-list li{
    padding: 13px;
    border-top: 1px dotted #ccc;
    position: relative;  
}

.news-list li:last-child{
    border-bottom: 1px dotted #ccc;
}

.news-list i{
    font-weight: 900;
    margin-right: 10px;
}

.news-list small{
    position: absolute;
    right: 0;
    font-size: 14px;
}

/* video center */
.video-center{
    width: 1200px;
    margin: 0 auto;
    
}

.video-list{
    overflow: hidden;
    margin: 53px 0 144px;
    padding: 4px;
    position: relative;
}

.video-list li{
    float: left;
    width: 250px;
    margin-right: 53px;
    text-align: center;
    position: relative;
}

.video-list img{
    width: 250px;
    height: 195px;
    display: block;
}

.video-list li:last-child{
    margin-right: 0;
}

.video-list .play{
    display: block;
    width: 45px;
    height: 45px;
    border: 3px solid white;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    left: 102px;
    top: 75px;
}

.video-list .play::after{
    content: " ";
    display: block;
    border: 15px solid transparent;
    border-left-color: #fff;
    position: absolute;
    left: 18px;
    top: 8px;   /* 三角 */
}

.video-title{
    margin: 25px 0 10px;
    color: #333;
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.video-list li:hover{
    box-shadow: 3px 3px 3px #01a1ff,-3px -3px 3px #01a1ff;
}

.video-list li:hover .video-title{
    color: #01a1ff;
}

.video-list li:hover .play{
    display: block;
    width: 54px;
    height: 54px;
    border: 3px solid #01a1ff;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    left: 95px;
    top: 75px;
}

.video-list li:hover .play::after{
    left: 22px;
    top: 10px;
    border-left-color: #01a1ff;
}

.video-description{
    font-size: 12px;
    color: #999;
}

