.aside{
    float: left;
}

.aside aside{
    clear: both;
}

.aside aside:first-child{
    margin-bottom: 40px;
}

.search{
    overflow: hidden;
    position: relative;
}

.aside .search input{
    display: block;
    margin: 9px 13px;
    width: 142px;
    height: 36px;
    padding: 0 30px 0 5px;
}

.aside .search img{
    width: 10%;
    position: absolute;
    right: 16px;
    top: 20px;
    padding-left: 10px;
}

.product-imgs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 30px 67px;
}

.product-imgs li{
    width: 30%;
    margin-bottom: 40px;
    position: relative;
}

.product-imgs li a{
    color: white;
    font-size: 14px;
}

.product-imgs li .pro-title{
    width: 110%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    line-height: 30px;
    text-align: center;
}

.product-imgs li .pro-title:hover{
    background-color: #01a1ff;
}